.container {
  display: flex;
  padding-right: 5%;
  padding-bottom: 12rem;
  background-color: var(--clr_bg_light);
  position: relative;
  top: -2rem;
}
.right_column {
  display: grid;
  place-items: center;
  background-color: var(--clr_light_pink);
  width: 75%;
  padding: 4rem;
  position: relative;
}
.left_column {
  width: 250px;
  height: 350px;
  border-radius: 9999px;
  background-color: var(--clr_dark_pink);
  position: absolute;
  right: -140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid blue; */
  overflow: hidden;
}
.left_box {
  position: relative;
  overflow: hidden;
  /* border: solid red; */
}
.column_box {
  max-width: 600px;
  color: var(--clr_secondary);
}
.heading1 {
  font-size: 2.5rem;
}
.highlight {
  color: var(--clr_primary);
}
.text_box {
  max-width: 400px;
  margin: 1rem 0;
}

@media (max-width: 1300px) {
  .column_box {
    max-width: 400px;
  }
  .heading1 {
    font-size: 1.75rem;
  }
}
