.container {
  background-color: var(--clr_bg_light);
  padding: 8rem 5%;
  padding-bottom: 12rem;
  position: relative;
  top: -2rem;
  color: var(--clr_secondary);
}
.products_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.product {
  flex-basis: 30%;
}

/* CARD */
.heading {
  font-size: 3rem;
}
.highlight {
  color: var(--clr_primary);
}
.content {
  margin: 1rem 0;
}
.btn {
  background-color: var(--clr_bg_light);
  border: 1px solid var(--clr_primary);
  padding: 0.75rem;
  color: var(--clr_primary);
  cursor: pointer;
  border-radius: 9999px;
  display: flex;
}
.btn_text {
  font-size: 1rem;
  display: block;
  border: solid var(--clr_bg_light);
}
.btn_icon {
  display: block;
  width: 1.5rem;
  border: solid var(--clr_bg_light);
}
