.root {
  display: flex;
  background-color: var(--clr_bg_light);
  justify-content: space-between;
  padding: 2% 5%;
}
.logo {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--clr_secondary);
}
.dot {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr_primary);
}
.routes_container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.routes {
  display: flex;
  gap: 24px;
  align-items: center;
}
.route_link {
  cursor: pointer;
  color: var(--clr_gray);
  font-weight: 500;
}
