@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
  --clr_primary: #f5683c;
  --clr_secondary: #19183a;
  --clr_bg_light: #faf8f6;
  --clr_bg_dark: #f1e4ef;
  --clr_white: #ffffff;
  --clr_gray: #878583;
  --clr_lavender: #c0b5dd;
  --clr_light_pink: #ffe5de;
  --clr_dark_pink: #f6866a;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
